<app-stepper [selectedIndex]="2"></app-stepper>
<app-title text='Justificatifs'></app-title>
<main>
    <div id="blocMain">
        <div id="blocCertification">
            <div id="ecritCertification"> Certifie avoir verifié :</div>
            <div id="checkboxCertification">
                <ul>
                    <div class="checkboxBalise">
                        <input type="checkbox" id="CarteID" name="CarteID" value="CarteID">
                        <label for="CarteID">Carte d'identité</label>
                    </div>
                    <div class="checkboxBalise">
                        <input type="checkbox" id="dewey" name="drone" value="dewey">
                        <label for="dewey">Attestation de Domicile</label>
                    </div>
                    <div class="checkboxBalise">
                        <input type="checkbox" id="dewey" name="drone" value="dewey">
                        <label for="dewey">Attestation...</label>
                    </div>
                    <div class="checkboxBalise">
                        <input type="checkbox" id="dewey" name="drone" value="dewey">
                        <label for="dewey">Passeport</label>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</main>
<div id=blocReturnNextButton>
    <app-return return='informations'></app-return>
    <app-next next='emplacements'></app-next>
</div>
