main {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 80%;
    margin: 0 10%;
}

#blocMain {
    margin-top: 2%;
}

#blocCertification {
    height: 90%;
    width: 50%;
    background-color: white;
}

#ecritCertification {
    height: 8%;
    width: 100%;
    background-color: white;
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

#checkboxCertification {
    background-color: white;
    height: 70%;
    width: 60%;
    margin-left: 1%;
}

.checkboxBalise {
    font-size: 17px;
    color: rgb(59, 59, 59);
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin: 4% 2%;
}

label {
    font-size: 22px;
}


/*[-->Fin du Titre Main<--]*/


/*Début des boutons de retour et suivant */

#blocReturnNextButton {
    //Bloc//
    margin-right: 100px;
    //Flex//
    display: flex;
    flex-direction: row;
}


/*Fin des boutons de retour et suivant */

h1 {
    font-size: 12px;
}

h2 {
    font-size: 12px;
    color: grey;
}

h3 {
    margin-left: 100px;
    font-size: 30px;
}