<div class="nav0">
    <span class="step"
          [ngClass]="{selected: selectedIndex === 0}"
          *ngIf="selectedIndex === 0">0</span>
    <span class="step selected"
          *ngIf="selectedIndex > 0"><mat-icon>favorite</mat-icon></span>
    Marché aux puces
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step" [ngClass]="{selected: selectedIndex === 1}">1</span> Informations
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step" [ngClass]="{selected: selectedIndex === 2}">2</span> Justificatifs
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step" [ngClass]="{selected: selectedIndex === 3}">3</span> Emplacement
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step" [ngClass]="{selected: selectedIndex === 4}">4</span> Paiement
</div>
<div class="ligne"></div>
<div class="nav0">
    <span class="step">5</span> Validation
</div>
