:host {
    /*Boite*/
    height: 10%;
    width: 80%;
    background-color: white;
    margin: 2% 10%;
    /*Flex*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    /*Police*/
    color: gray;
    font-weight: bold;
}

.step:hover {
    background-color: #FDBC27;
}

.step {
    /*Boite*/
    height: 18px;
    width: 18px;
    background-color: grey;
    border-radius: 100%;
    margin: 5px;
    padding: 14px;
    /*Flex*/
    display: inline-block;
    text-align: center;
    /*Police*/
    color: white;
}

.ligne {
    border: 1px solid grey;
    width: 5%;
}


/* A quoi ça sert ?
.nav0 {
  white-space: nowrap
}
*/

.selected {
    // TODO: a vous de faire plus beau 😎
    background-color: #24A2B8;
}
