<app-stepper></app-stepper>
<app-title text='Validation'></app-title>
<main>
    <div id="blocMain">
        <div id="blocCoordonneID">
            <div class="blocCoordonne">
                <div class="coordonneBleu">Prénom:</div>
                <div class="coordonneNoir">Maxime</div>
            </div>
            <div class="blocCoordonne">
                <div class="coordonneBleu">Nom:</div>
                <div class="coordonneNoir">DUPONT</div>
            </div>
            <div class="blocCoordonne">
                <div class="coordonneBleu">E-mail:</div>
                <div class="coordonneNoir">maximedupont@gmail.com</div>
            </div>
            <div class="blocCoordonne">
                <div class="coordonneBleu">Téléphone:</div>
                <div class="coordonneNoir">03.20.00.00.00</div>
            </div>
            <div class="blocCoordonne">
                <div class="coordonneBleu">Adresse:</div>
                <div class="coordonneNoir">59 rue du Faubourg d'Arras</div>
            </div>
        </div>
        <div id="blocCoordonneEmplacement">
            <div class="blocCoordonne">
                <div class="coordonneBleu">Emplacement:</div>
                <div class="coordonneNoir">N°21</div>
            </div>
            <div class="blocCoordonne">
                <div class="coordonneBleu">Mode de Paiement:</div>
                <div class="coordonneNoir">Chèque</div>
            </div>
            <div class="blocCoordonne">
                <div class="coordonneBleu">Somme à payer:</div>
                <div class="coordonneNoir">4Euros</div>
            </div>
        </div>
        <div id="blocBouton">
            <a href="">
                <div class="coordonneBouton"><input type="submit" value="Imprimer le résumé d'Inscription" /></div>
            </a>
            <a href="">
                <div class="coordonneBouton"><input type="submit" value="Envoyer le résumé par mail" /></div>
            </a>
            <a href="">
                <div class="coordonneBouton"><input type="submit" value="Imprimer le reçu" /></div>
            </a>
        </div>
    </div>
</main>
<div id=blocNewMenuNewRegistrationButton>
    <app-return-menu></app-return-menu>
    <app-new-registration></app-new-registration>
</div>
