/*Début du Main*/

main {
    //Boite//
    height: 500px;
    width: 80%;
    background-color: white;
    margin: 0% 10%;
    //Flex//
    display: flex;
    flex-direction: column;
}


/*[-->Fin du Main<--]*/


/*[-->Bloc d'Emplacement<--]*/

#blocMain {
    //Boite//
    height: 90%;
    width: 100%;
    background-color: white;
    margin-top: 3%;
    //Flex//
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blocCoordonneID {
    //Boite//
    height: 400px;
    width: 25%;
    background-color: white;
    padding: 2%;
    box-shadow: 0 0 5px grey;
    //Flex//
    display: flex;
    flex-direction: column;
    //Police//
    font-family: 'Roboto', sans-serif;
}

.blocCoordonne {
    //Boite//
    height: 80px;
    width: 100%;
    margin-left: 7%;
    //Flex//
    display: flex;
    flex-direction: column
}

.coordonneBleu {
    //Boite//
    height: 50%;
    width: 100%;
    margin-top: 3%;
    //Police//
    color: #24a2b8;
    font-size: 15px;
}

.coordonneNoir {
    //Boite//
    height: 50%;
    width: 100%;
    margin-bottom: 5%;
    //Police//
    color: black;
    font-size: 25px;
}

#blocCoordonneEmplacement {
    //Boite//
    height: 240px;
    width: 25%;
    background-color: white;
    padding: 2%;
    box-shadow: 0 0 5px grey;
    //Flex//
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

#blocBouton {
    //Boite//
    height: 240px;
    width: 30%;
    background-color: white;
    //Flex//
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    //Police//
    font-size: 20px;
}

.coordonneBouton input {
    height: 60px;
    width: 100%;
    background-color: #24a2b8;
    border: none;
    box-shadow: 0 0 5px grey;
    margin-top: 10%;
    //Police//
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


/*Début des boutons de retour et suivant */

#blocNewMenuNewRegistrationButton {
    //Boite//
    margin-right: 50px;
    //Flex//
    display: flex;
    flex-direction: row;
    justify-content: end;
}


/*Fin des boutons de retour et suivant */


/*Fin du Footer*/

h1 {
    font-size: 12px;
}

h2 {
    font-size: 12px;
    color: grey;
}

h3 {
    margin-left: 100px;
    font-size: 30px;
}