#prochainMain {
    /*Boite*/
    height: 45px;
    background-color: white;
    border-left: solid 3px #FDBC27;
    margin-left: 185px;
    padding-left: 10px;
    /*Flex*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*Police*/
    font-size: 24px;
    font-weight: bold;
}
