main {
    /*Boite*/
    height: 400px;
    width: 75%;
    background-color: white;
    margin: 1% 10%;
    /*Flex*/
    display: flex;
    flex-direction: column;
}

#secteurBloc {
    /*Boite*/
    height: 100%;
    background-color: white;
    margin: 2% 0%;
}

.secteurSousBloc {
    /*Boite*/
    height: 30%;
    width: 100%;
    background-color: rgb(226, 226, 226);
    box-shadow: 0 1px 1px rgb(158, 158, 158);
    margin: 2% 0;
    border-top: 1px solid rgb(139, 138, 138);
    border-bottom: 1px solid rgb(139, 138, 138);
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lieu {
    /*Boite*/
    width: 30%;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.date {
    /*Boite*/
    width: 30%;
    background-color: rgb(226, 226, 226);
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.emplacement {
    /*Boite*/
    width: 30%;
    background-color: rgb(226, 226, 226);
    /*Flex*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imageLieu {
    /*Boite*/
    height: 50%;
    width: 20%;
    background-color: rgb(226, 226, 226);
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageLieu img {
    height: 35px;
}

.textLieu {
    height: 50%;
    width: 50%;
    margin-right: 20%;
}

.text1 {
    color: #24A2B8;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.text2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 2px;
}

.material-icons {
    font-size: 48px;
}

#secteurBloc {
    /*Boite*/
    height: 100%;
    background-color: white;
    margin: 2% 0%;
}

.secteurSousBloc {
    /*Boite*/
    height: 30%;
    background-color: rgb(226, 226, 226);
    box-shadow: 0 1px 1px rgb(158, 158, 158);
    margin: 2% 0;
    border-top: 1px solid rgb(139, 138, 138);
    border-bottom: 1px solid rgb(139, 138, 138);
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lieu {
    /*Boite*/
    width: 30%;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.date {
    /*Boite*/
    width: 30%;
    background-color: rgb(226, 226, 226);
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.emplacement {
    /*Boite*/
    width: 30%;
    background-color: rgb(226, 226, 226);
    /*Flex*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imageLieu {
    /*Boite*/
    height: 50%;
    width: 20%;
    background-color: rgb(226, 226, 226);
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageLieu img {
    height: 35px;
}

.textLieu {
    height: 50%;
    width: 50%;
    margin-right: 20%;
}

.text1 {
    color: #24A2B8;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.text2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 2px;
}

.material-icons {
    font-size: 48px;
}
