<app-stepper [selectedIndex]="1"></app-stepper>
<app-title text='Informations'></app-title>
<main>
    <div id="blocMain">
        <form method="post" action="">
            <div id="infoMain">

                <div id="blocPartieInformation">
                    <div class="partieInformationGauche">
                        <input type="text" id="prenom" name="prenom" size="20" maxlenght="25" placeholder="Prénom" required />
                        <input type="text" placeholder="Adresse" required/>
                        <input type="email" id="email" name="email" placeholder="E-mail" required/>
                    </div>
                    <div class="partieInformationDroite">
                        <input type="text" id="nom" name="Nom" size="20" maxlenght="25" placeholder="Nom" required />
                        <input type="text" placeholder="Ville" required/>
                        <input type="tel" placeholder="Numéro de téléphone" required/>
                    </div>
                </div>

                <div id="blocResident">
                    <label for="Choix">Résident : </label>
                    <input type="radio" name="resident" id="yes" value="yes" />
                    <label for="Oui">Oui</label>
                    <input type="radio" name="resident" id="no" value="no" />
                    <label for="Non">Non</label>
                </div>


                <div id="blocCession">
                    <div id="cessionEcrit">
                        <h4> Emplacement cédé par</h4>
                        <div id="cessionChamps">
                            <input type="text" id="prenom" name="prenom" size="20" maxlenght="25" placeholder="Prénom" />
                            <input type="text" id="nom" name="Nom" size="20" maxlenght="25" placeholder="Nom" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
<div id=blocReturnNextButton>
    <app-return next="validation"></app-return>
    <app-next return="emplacement"></app-next>
</div>
