main {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 80%;
    margin: 0% 10%;
}


/*[-->Titre Main<--]*/

#titreMain {
    background-color: white;
    height: 45px;
    border-left: solid 3px #FDBC27;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    align-items: center;
    font-size: 30px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#blocMain {
    background-color: white;
    height: 70%;
    width: 100%
}


/*[-->Fin du Titre Main<--]*/


/*[-->Bloc d'Information<--]*/

#infoMain {
    background-color: white;
    display: flex;
    margin-top: 35px;
    height: 300px;
    flex-direction: column;
}

#blocPartieInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    width: 900px;
    height: 600px;
    align-content: flex-start;
}

#blocPartieInformation input {
    height: 50px;
    width: 90%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #24a2b8;
    font-size: 20px;
    margin: 5px;
}

.partieInformationDroite {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.partieInformationGauche {
    display: flex;
    flex-direction: column;
    width: 48%;
}


/*[-->Début du Bloc si Résident ou non<--]*/

#blocResident {
    margin-top: 20px;
}

#blocResident input {
    background: #24a2b8;
    background-color: #24a2b8;
}


/*[-->Fin du Bloc si Resident ou non<--]*/


/*[-->Début du Bloc de Cession d'Emplacement<--]*/

#blocCession {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#cessionEcrit {
    width: 500px;
    background-color: white;
    display: flex;
    margin-top: 20px;
    padding: 5px;
    flex-direction: column;
    box-shadow: 0px 1px 3px 1px grey;
}

#cessionChamps {
    display: flex;
    flex-direction: row;
}

#cessionChamps input {
    max-width: 50%;
    margin: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #24a2b8;
}


/*[-->Fin du Bloc de Cession d'Emplacement<--]*/


/*Début des boutons de retour et suivant */

#boutonRetourSuivant {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 50px;
}

#suivant input {
    background-color: #fdbc27;
    height: 40px;
    border-radius: 2px;
    margin-left: 3px;
    border: none;
    box-shadow: 0 0 5px grey;
    color: black;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

#retour input {
    height: 40px;
    border-radius: 2px;
    margin-left: 3px;
    margin-right: 30px;
    border: none;
    box-shadow: 0 0 5px grey;
    color: black;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}


/*Fin des boutons de retour et suivant */

h1 {
    font-size: 12px;
}

h2 {
    font-size: 12px;
    color: grey;
}

h3 {
    margin-left: 100px;
    font-size: 30px;
}

#blocReturnNextButton {
    //Bloc//
    margin-right: 100px;
    //Flex//
    display: flex;
    flex-direction: row;
    justify-content: end;
}
