<app-stepper></app-stepper>
<app-title text='Paiement'></app-title>
<main>
    <div id="blocMain">
        <div id="blocModePaiement">
            <p>Mode de Paiement :</p>
            <div class="modePaiement">
                <input type="checkbox" class="caseACocher" name="espece">
                <label for="espece">
                          Espèces
                      </label>
            </div>
            <div class="modePaiement">
                <input type="checkbox" class="caseACocher" name="cheque">
                <label for="cheque">
                          Chèques
                      </label>
            </div>
        </div>
        <div id="blocSommePercevoir">
            <p>Somme à Percevoir :</p>
            <div class="sommePercevoir">
                <label for="Utilisateur"></label>
                <input type="number" id="Utilisateur" name="Nom" />
            </div>
        </div>
        <div id="blocSommePercue">
            <p>Somme Perçue :</p>
            <div id="sommePercue">
                <input type="number " id="inputSommePercue " /></div>
        </div>
    </div>
</main>
<app-finish></app-finish>
