main {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 80%;
    margin: 0 10%;
}

#blocMain {
    height: 90%;
    width: 100%;
    background-color: white;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

p {
    height: 100%;
    width: 15%;
}

#blocModePaiement {
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.modePaiement {
    background-color: white;
    height: 100%;
    width: 10%;
    display: flex;
    align-content: center;
}

.modePaiement label {
    display: flex;
    justify-content: center;
    align-items: center;
}

#blocSommePercevoir {
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#blocSommePercue {
    height: 10%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#blocSommePercue input {
    border-bottom: 2px solid #24A2B8;
    border-top: none;
    border-left: none;
    border-right: none;
}


/*Début du footer*/

#terminerInscription input {
    background-color: #FDBC27;
    height: 46px;
    width: 25%;
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

a {
    text-decoration: none;
}


/*Fin du Footer*/

h1 {
    font-size: 12px;
}

h2 {
    font-size: 12px;
    color: grey;
}

h3 {
    margin-left: 100px;
    font-size: 30px;
}
