app-header {
    /*Boite*/
    height: 80px;
    width: 100%;
    background-color: #FDBC27;
    box-shadow: 0 0 5px grey;
    /*Flex*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*Police*/
    font-size: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
