#newRegistrationButton {
    background-color: #fdbc27;
    height: 40px;
    border-radius: 2px;
    margin-left: 3px;
    border: none;
    box-shadow: 0 0 5px grey;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
