<app-stepper></app-stepper>
<app-title text='Emplacements'></app-title>
<main>
    <div id="blocMain">
        <div id="blocSousMainGauche">
            <div id="ecritCarte">
                Plan du Marché aux puces :
            </div>
            <div id="carteCarte"><img src="imgpardefaut.jpg" /></div>
        </div>
        <div id="blocSousMainDroit">
            <div id="jeChoisisMonEmplacement">
                <div id="ecritjeChoisisMonEmplacement">
                    Je choisis mon Emplacement :
                </div>
                <div id="numerojeChoisisMonEmplacement"><input type="text" id="Numéro d'emplacement" name="Numéro d'emplacement" size="20" maxlenght="25" placeholder="Numéro d'emplacement" required/> </div>
                <div id="verifierjeChoisisMonEmplacement">
                    <div id="boutonVerifier">Vérifier</div>
                </div>
            </div>
        </div>
    </div>
</main>
<div id=blocReturnNextButton>
    <app-return></app-return>
    <app-next></app-next>
</div>
