main {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    width: 80%;
    margin: 0 10%;
}

#blocMain {
    height: 90%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blocSousMainGauche {
    height: 100%;
    width: 65%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#ecritCarte {
    height: 10%;
    width: 100%;
    background-color: white;
    margin-top: 3%;
    margin-left: 3%;
    font-size: 22px;
    color: black;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

#carteCarte {
    height: 90%;
    width: 100%;
    background-color: white;
}

#carteCarte img {
    box-shadow: 0 0 5px grey;
    width: 900px;
    height: 500px;
}

#cessionEcrit {
    width: 500px;
    background-color: white;
    display: flex;
    margin-top: 20px;
    padding: 5px;
    flex-direction: column;
}


/*Début du bloc "Je choisis mon emplacement */

#blocSousMainDroit {
    height: 100%;
    width: 35%;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}

#jeChoisisMonEmplacement {
    height: 40%;
    width: 85%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 1px grey;
    padding: 2%
}

#ecritjeChoisisMonEmplacement {
    height: 20%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    color: black;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin-left: 1%;
    padding-top: 3%;
}

#numerojeChoisisMonEmplacement {
    height: 40%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#numerojeChoisisMonEmplacement input {
    height: 50px;
    width: 96%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #24a2b8;
    font-size: 20px;
    margin: 3px;
}

#verifierjeChoisisMonEmplacement {
    height: 40%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3%;
}

#boutonVerifier {
    height: 60%;
    width: 30%;
    background-color: #24a2b8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2%;
    box-shadow: 0 0 5px grey;
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}


/*Début des boutons de retour et suivant */

#blocReturnNextButton {
    //Bloc//
    margin-right: 100px;
    //Flex//
    display: flex;
    flex-direction: row;
    justify-content: end;
}
