:host {
    display: flex;
    justify-content: center;
}

#terminerInscription {
    //Boite//
    height: 50px;
    width: 25%;
    background-color: #FDBC27;
    //Flex//
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //Police//
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
